##### import library pandas

In [34]:
import pandas as pd

##### Baca file dan membuat dataframe

In [35]:
data = pd.read_csv('data-karyawan.csv')

##### Membuat kolom jabatan

In [36]:
data['Jabatan'] = ''

##### Fungsi untuk menentukan jabatan

In [37]:
def jabatan(gaji):
    if 8000000 <= gaji <= 9000000:
        return 'Officer'
    elif 10000000 <= gaji <= 11000000:
        return 'Supervisor'
    elif 12000000 <= gaji <= 14000000:
        return 'Asisten Manajer'
    elif gaji >= 15000000:
        return 'Manager'

##### Control flow assign jabatan

In [38]:
for index, row in data.iterrows():
    gaji = row['Gaji']
    data.at[index, 'Jabatan'] = jabatan(gaji)

##### Menampilkan dataframe setelah menambahkan kolom jabatan

In [39]:
print("Output setelah ditambah kolom jabatan")
print(data)

Output setelah ditambah kolom jabatan
   No. Jenis Kelamin  Umur Karyawan      Gaji       Transportasi  \
0    1     Laki-Laki             20   8000000  Kendaraan pribadi
1    2     Laki-Laki             35  14000000     Kendaraan umum
2    3     Perempuan             26  10000000     Kendaraan umum
3    4     Perempuan             27  12000000  Kendaraan pribadi
4    5     Laki-Laki             21   9000000  Kendaraan pribadi
5    6     Laki-Laki             22  11000000  Kendaraan pribadi
6    7     Perempuan             32  15000000     Kendaraan umum
7    8     Perempuan             26   8000000     Kendaraan umum
8    9     Laki-Laki             25   9000000     Kendaraan umum
9   10     Perempuan             20  10000000  Kendaraan pribadi

           Jabatan
0          Officer
1  Asisten Manajer
2       Supervisor
3  Asisten Manajer
4          Officer
5       Supervisor
6          Manager
7          Officer
8          Officer
9       Supervisor

##### Mendapatkan data gaji terbesar dan terkecil

In [40]:
gaji_terbesar = data['Gaji'].max()
gaji_terkecil = data['Gaji'].min()

##### Menampilkan data gaji terbesar dan terkecil

In [41]:
print("Gaji Terbesar:", gaji_terbesar)
print("Gaji Terkecil:", gaji_terkecil)

Gaji Terbesar: 15000000
Gaji Terkecil: 8000000